<footer>
  <div class="text-center">
    <h3>
      <p>
        Feito por Rodrigo Amora.<br>
      </p>
    </h3>

    <hr>

    <div class="container">
      <div class="social-network">
        <img src="../../../assets/images/social_networks/github-light.png" class="social-network-icon" />
        /RodrigoAmora
      </div>

      <div class="social-network">
        <img src="../../../assets/images/social_networks/linkedin.png" class="social-network-icon" />
        /in/rodrigoamora
      </div>
    </div>

    <div class="container">
      <div class="social-network">
        <img src="../../../assets/images/social_networks/twitter.png" class="social-network-icon" />
        /&#64;RodrigoAmora
      </div>

      <div class="social-network">
        <img src="../../../assets/images/social_networks/gmail.svg" class="social-network-icon" />
        rodrigo.amora.freitas&#64;gmail.com
      </div>
    </div>
  </div>
</footer>
